footer
  .container

    .first-block
      .left
        .brand
          a.logo(href="./")
            span.logo-mark M
          a(href="./") Mira
        p AI-native qualitative research for marketing teams.

      .right
        a.tnc(href="./privacy") Privacy and terms
