header
  div.container
    .left
      a.logo(href='./')
        span.logo-mark N
      a.brand(href='./') 
        strong NoraLens

    nav.site-nav
      ul.nav-items
        li
          a(href='./#about-us') Why now
        li
          a(href='./#features') Platform
        li
          a(href='./#faq') FAQ
        li 
          a(href="./contact-us") Early access
